---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio\neuro %}
  {% include archive-single.html %}
{% endfor %}



 <!-- ---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Neuroscience Computational Projects</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.category == "neuroscience" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</ul>

<h2>General AI/ML Projects</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.category == "general" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</ul> -->


<!-- <h2>Neuroscience Projects</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.category == "neuroscience" %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt | markdownify }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>General AI/ML Projects</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.category == "general" %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt | markdownify }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul> -->
